.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.vacancy-table {
  width: 100%;
  border-collapse: collapse;
}

.vacancy-table th,
.vacancy-table td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

.vacancy-table th {
  background-color: #f2f2f2;
}

.vacancy-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.vacancy-table tr:hover {
  background-color: #ddd;
}